/* CSS Document */
html,body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	a {
		color: #09f;
	}
	a:hover {
		text-decoration: none;
	}
	#back_to_camera {
		background: rgba(255,255,255,.9);
		clear: both;
		display: block;
		height: 40px;
		line-height: 40px;
		padding: 20px;
		position: relative;
		z-index: 1;
	}
	.fluid_container {
		margin: 0px auto;
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		margin-top: 7%;
		z-index: 0;
	}
	#camera_wrap_4 {
		bottom: 0;
		height: 70%;
		left: 0;
		margin-bottom: 0!important;
		position: absolute;
		right: 0;
		top: 0;
	}
	.camera_bar {
		z-index: 2;
	}
	.camera_thumbs {
		margin-top: -100px;
		position: relative;
		z-index: 1;
	}
	.camera_thumbs_cont {
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	.camera_overlayer {
		opacity: .1;
	}


